.master-bar {
	background-color: #e0f5fa;
	text-align: center;
	box-shadow: 0 0 3px rgba( black, 0.6 );
	margin-bottom: 1rem;
}

.master-bar__brand {
	margin: 0;
	padding: 0.5rem 0;
	font-size: 1.6rem;
}
